<div class="container-fluid flex-fill gradient-featured p-4">
    <div class="row row-cols-1 row-cols-sm-3 align-items-center pt-5 pb-5 h-100">
        <div class="col col-md-3 d-none d-md-block"></div>
        <div class="col col-sm-12 col-md-6 text-center">
            <div class="mx-auto pb-5">
                <svg class="img-fluid w-75"><use href="/img/logo_var.svg#logo"></use></svg>
            </div>
            <p class="fs-2 fw-bold">{{ .Title }}</p>
            <span class="fs-5 text-muted">{{ .Content }}</span>
            {{- if .Site.Params.feature.link }}
                <a class="btn btn-primary" href="{{ .Site.Params.feature.link | safeURL }}" role="button">{{ .Site.Params.feature.caption | default (T "about") }}</a>
            {{- end }}
            &nbsp;
            {{ if .Site.Params.demo.link -}}
                <a class="btn btn-outline-primary" href="{{ .Site.Params.demo.link | safeURL }}" target="_blank" role="button">{{ .Site.Params.demo.caption | default (T "demo") }}</a>
            {{- end -}}
        </div>
        <div class="col col-md-3 d-none d-md-block"></div>
    </div>
</div>