<div class="container-xxl flex-fill p-4">
    <div class="row row-cols-1 row-cols-sm-3 align-items-center pt-5 pb-5 h-100">
        <div class="col col-md-3 d-none d-md-block"></div>
        <div class="col col-sm-12 col-md-6 text-center">
            <div class="mx-auto pb-5">
                <svg class="img-fluid w-75"><use href="/img/logo_var.svg#logo"></use></svg>
            </div>
            <p class="display-4">{{ .Title }}</p>
            <span class="fs-5 text-muted">{{ .Content }}</span>
            <div class="hstack gap-3 justify-content-center">
                {{ range .Site.Params.featured.actions }}
                    {{ partial "assets/button.html" (dict "href" .url "icon" .icon "title" .title "outline" .outline "order" "first" "justify" "start") }}
                {{ end }}
            </div>
        </div>
        <div class="col col-md-3 d-none d-md-block"></div>
    </div>
</div>